div,hr{
    margin-left: 100px;
    margin-right: 100px;
}
nav,h5,h2,h1{
    font-family:sans-serif;
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: left;
}
nav{
    font-size: 15px;
    align-content: center;
}
a{
   text-decoration: none; 
   color: black;
   padding-left: 50px;
}
.searchbox{
    height: 30px;
    border: solid 1px lightgrey;
    border-right: none;
    color: gray;
}
.search{
    width: 30px;
    height: 34px;
    padding-right: 10px;
    border: solid 1px lightgrey;
    border-left: none;
    background-image: url("./Images/search.png");
    background-repeat: no-repeat;
    background-color: white;
    margin-right: 10px;
}
#iconcart{
    margin-left: 10px;
}
.banner{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bflex1,.bflex2,#footer1,.footer2i,.footer2ii,.footer2iii,.footer2iv,.footer,.cat-img,.heading,.accountpage,.accountleft,.accountright,.section1,.section2head,.section2,.login,.register,.arrival-img,.shop-img{   
    margin-left: 0px;
    margin-right: 0px;
}
.bflex1{
   padding-right: 15px; 
}
.bflex2{
    padding-left: 30px;
}
h5,p{
    color: grey;
}
h2{
    font-size: 30px;
}
h1{
    font-size: 45px;
    color: darkcyan;
}
.button{
    color: white;
    background-color: darkcyan;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border:solid 2px darkcyan;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button:hover, a:hover,.pcbutton:hover{
    background-color: white;
    color: darkcyan;
}
.icondelete:hover{
    background-color: rgba(243, 85, 85, 0.644);
}
.PHead{
    width:73%;
    float: left;
    font-size: x-large;
    font-family: sans-serif;
}
strong,.stock,.NColor{
    color: rgb(16, 138, 138);
}
.popularC{
    height: 300px;
}
.newarrivals{
    height: 400px;
    padding-bottom: 30px;
}
.popularC,.newarrivals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.shop{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 30px;
    gap: 20px;
}
.cat-img{
    width: 190px;
    /* height: 270px; */
    height: auto;
}
.arrival-img{
    width: 245px;
    height: auto;
}
.shop-img{
    position: relative;
    width: auto;
    height: auto;
}
.cat-img,.arrival-img,.shop-img{
    border: 2px solid lightgrey;
    border-radius: 20px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 10px;
}
figure{
    height: 220px;
    border-radius: 20px;
    margin: auto;
}
.cat-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.arrival-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.shop-img img{
    display: block;
    width: 100%;
    /* height: 100%;  */
}
.category, .arrival,.overlay{
    border-radius: 20px;
}
figcaption{
    color: rgb(121, 120, 120);
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
}
.arrival-img figcaption,.shop-img figcaption{
    text-align: left;
    padding: 10px;
    line-height: 33px;
}
figcaption b{
    color: black;
    font-size: 16px;
}
figcaption strong{
    font-size: large;
}
figcaption input{
    background-image: url("./Images/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 40px 20px;
    text-indent: 30px;
    float: inline-end;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .1s ease;
    padding: 10px;
}
.shop-img:hover .overlay{
    opacity: 1;
    padding: 10px;
}
.shop-img button,.arrival-img button{
    border: 0px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    font-size: small;
    /* text-align: center; */
    /* align-content: center; */
    font-family: sans-serif;
    color: white;
    position: absolute;
}
.shop-img button{
    translate: 10px -330px;
}
.arrival-img button{
    translate: 10px -215px;
}
#hot1{
    background-color: lightblue;
}
#hot2{
    background-color: lightpink;
}
#hot3{
    background-color: lightgreen;
}
#hot4{
    background-color: lightseagreen;
}
.pcbutton,#cartbutton{
    height: 20px;
    width: 20x; 
    border: 1px solid rgb(121, 120, 120);
    border-radius: 50%;
    align-items: center;
    align-content: center; 
    color: darkcyan;
}
#cartbutton{
    width: 40px;
    height: 40px;
}
#buttonsthree{
    padding-top: 30px;
    padding-bottom: 30px;
}
.buttonsthree{
    width:100px;
    height: 40px;
    border: 0px;
    font-family: sans-serif;
    border-radius: 5px;
}
.buttonsthree:hover{
    color:darkcyan;
    background-color: antiquewhite;
}
.heading{
    height: 50px;
    background-color: rgb(238, 237, 237);
    text-indent: 100px;
    word-spacing: 15px;
    align-content: center;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-size: 14px;
}
.section1{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(238, 237, 237);
    width: 300px;
    height: 50px;
    text-indent: 8px;
    align-items: center;
    font-family: sans-serif;
}
.section1 img{
    padding-left: 30px;
}
.section1:hover, #inputbutton:hover{
    color: white;
    background-color: darkcyan;    
}
.section2head,.section2{
    border: 1px solid rgb(238, 237, 237);
    width: 750px;
    font-family: sans-serif;
}
.section2head{
    height: 50px;
    background-color: rgb(238, 237, 237);
    text-indent: 15px;
    align-content: center;
    font-weight: bold;
}
.section2{
    text-indent: 25px;
    font-size:14px;
    color: rgb(97, 96, 96);
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.accountpage{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 25% auto;
}
#login{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.login,.register{
    border: 1px solid rgb(238, 237, 237);
    margin-right: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 30px;
}
.inputlogin{
    color:  rgb(97, 96, 96);
    border: 1px solid rgb(238, 237, 237);
    width: 450px;
    height:40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-indent: 10px;
}
.compare{
    overflow: hidden;
    margin-bottom: 50px;
}
table{
    border: solid rgb(238, 237, 237);
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgb(238, 237, 237);
}
th{
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
    font-family: sans-serif;
    font-size: small;
}
td{
    text-align: center;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: large;
    color: rgb(94, 93, 93);
}
.NColor{
    font-weight: bold;
}
.bcolors1,.bcolors2,.bcolors3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 0;
}
.bcolors1{
    background-color: rgb(92, 92, 5);
}
.bcolors2{
    background-color: rgb(5, 22, 121);
}
.bcolors3{
    background-color: rgb(150, 5, 5);
}
.compareimg{
    width: 330px;
    height: 300px;
    display: block;
    justify-content: space-evenly;
    margin: 5px;
}
#shopLine{
    padding-bottom: 50px;
    font-size: larger;
    font-family: sans-serif;
    color: rgb(136, 134, 134);
}
#shopLineB{
    word-spacing: 10px;
    font-family: sans-serif;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    color:cadetblue;
    margin-top: 50px;
    margin-bottom: 50px;
}
button{
    height: 30px;
    color: white;
    background-color: darkcyan;
    border: 0px;
    border-radius: 3px;
}
#footer1{
    background-color: lightblue;
    height: 100px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: sans-serif;
    font-size: 13px;
}
#iconemail{
    display: flex;
    align-items: center;
    gap: 10px;
}
#inputtext{
    height: 25px;
    border: solid 1px white;
    padding-right: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: grey;
    background-color: white;
}
#inputbutton{
    height: 28px;
    background-color: black;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
#paraleft{
    float: left;
}
#pararight{
    float: right;
}
hr{
    border: 1px solid rgb(230, 227, 227);
}
#paraleft,#pararight{
    color: grey;
    font-family: sans-serif;
    font-size: 12px;
}
#footer2{
    display: flex;
    justify-content: left; 
    padding-bottom: 20px;   
}
.footer2i,.footer2ii,.footer2iii{
    padding-right: 90px;
}
.footer2ii h4,.footer2iii h4{
    text-indent: 50px;
}
span,h4{
    color: black;
    font-weight: bold;
}
#footer2ipara{
    color: grey;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 2;
}
.footer2ii,.footer2iii,.footer2iv{
    font-family: sans-serif;
    line-height: 2.2;
    font-size: 13px;
    color: lightblack;
}